DAL/Connected Services/ServiceVocabulary/Vocabulary.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Vocabulary" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55842/Vocabulary.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55842/Vocabulary.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVocabulary_CheckCredential_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCredential" />
  </wsdl:message>
  <wsdl:message name="IVocabulary_CheckCredential_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCredentialResponse" />
  </wsdl:message>
  <wsdl:message name="IVocabulary_IsEmailAddressFree_InputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailAddressFree" />
  </wsdl:message>
  <wsdl:message name="IVocabulary_IsEmailAddressFree_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailAddressFreeResponse" />
  </wsdl:message>
  <wsdl:portType name="IVocabulary">
    <wsdl:operation name="CheckCredential">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabulary/CheckCredential" message="tns:IVocabulary_CheckCredential_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabulary/CheckCredentialResponse" message="tns:IVocabulary_CheckCredential_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsEmailAddressFree">
      <wsdl:input wsaw:Action="http://tempuri.org/IVocabulary/IsEmailAddressFree" message="tns:IVocabulary_IsEmailAddressFree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVocabulary/IsEmailAddressFreeResponse" message="tns:IVocabulary_IsEmailAddressFree_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVocabulary" type="tns:IVocabulary">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckCredential">
      <soap:operation soapAction="http://tempuri.org/IVocabulary/CheckCredential" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmailAddressFree">
      <soap:operation soapAction="http://tempuri.org/IVocabulary/IsEmailAddressFree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Vocabulary">
    <wsdl:port name="BasicHttpBinding_IVocabulary" binding="tns:BasicHttpBinding_IVocabulary">
      <soap:address location="http://localhost:55842/Vocabulary.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>