DAL/Connected Services/ServiceVocabulary/WCF.DCs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.DCs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.DCs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CredentialDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dictionaries" nillable="true" type="tns:ArrayOfDictionaryExtnDC" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CredentialDC" nillable="true" type="tns:CredentialDC" />
  <xs:complexType name="ArrayOfDictionaryExtnDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DictionaryExtnDC" nillable="true" type="tns:DictionaryExtnDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDictionaryExtnDC" nillable="true" type="tns:ArrayOfDictionaryExtnDC" />
  <xs:complexType name="DictionaryExtnDC">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DictionaryDC">
        <xs:sequence>
          <xs:element minOccurs="0" name="Credential" nillable="true" type="tns:CredentialDC" />
          <xs:element minOccurs="0" name="Words" nillable="true" type="tns:ArrayOfWordDC" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DictionaryExtnDC" nillable="true" type="tns:DictionaryExtnDC" />
  <xs:complexType name="DictionaryDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DictionaryDC" nillable="true" type="tns:DictionaryDC" />
  <xs:complexType name="ArrayOfWordDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WordDC" nillable="true" type="tns:WordDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWordDC" nillable="true" type="tns:ArrayOfWordDC" />
  <xs:complexType name="WordDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dictionary" nillable="true" type="tns:DictionaryExtnDC" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsLearnedWord" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sound" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Transcription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Translation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WordEng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordDC" nillable="true" type="tns:WordDC" />
  <xs:complexType name="ArrayOfDictionaryDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DictionaryDC" nillable="true" type="tns:DictionaryDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDictionaryDC" nillable="true" type="tns:ArrayOfDictionaryDC" />
</xs:schema>